sites/default/files/
sites/default/settings.php
tensorflow/*png
tensorflow/OpenCV/*
tensorflow/opencv.sh
tensorflow/runT*
tensorflow/models/*
tensorflow/pyimagesearch/*
tensorflow/flask.txt
modules/dm_simple/imgs/test.png
tensorflow/run.pyc
