#dialog{
	overflow: scroll;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/modules/dm_simple/imgs/wait.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#textboxes{
  position: relative;
  display: none;
}

#textboxes input{
    position: absolute;
    width: 150px;
    z-index: 1000;
    height: 20px;
    left: 100px;
    top: 100px;
}

.infop{
  font-size: 10px;
}

.textareainfop{
    width:500px;
    height: 100px;
}

#thefile{
  max-height:200px;
  overflow: scroll;
}

.questionDM{
  color:red;
}

.answersDM{
  color:green;
}

.movies-row .mmm{
  float:left;
}

.movies-row {
  width: 800px;
  height: 320px;
  margin: 10px;
}

.mmm img{
  cursor: pointer;
}

.mmm{
  padding: 10px;
  width: 150px;
  height: 300px;
}

/*chatbot*/

#messages li{
  position:relative;
  
}

.konta{
  list-style-type:none;
  position:absolute;
  word-wrap: break-word;
  right : 10px;
  box-shadow : 0 1px 1px grey;
  border-radius :20px 0 20px 20px;
  padding : 10px;
  max-width : 200px ;
  margin-left:100px;
  background :#e6e6e6 ;
  color:black;
  font-family:sans-serif;
  margin-top:5px;
}

.kontb{
  margin-right:110px;
  margin-top:5px;
 list-style-type:none; 
  
  word-wrap: break-word;
  max-width : 200px;
  left:-9px;
  border-radius :0 20px 20px 20px;
  padding : 10px;
  background :  #29a329;
  color:white;
  font-family:sans-serif;
  box-shadow : 0 2px 5px grey;
}

.text textarea{
  position:absolute;
  bottom:52px;
  left:28px;
  width:200px;
  height:42px;
  resize:none;
}

#sentmessage{
  position:absolute;
  bottom:52px;
  left:243px;
  resize:none;
}

#backgroundofkont{
  position:absolute;
  width:300px;
  height:248px;
  background:rgba(255,255,255,0.2);
  opacity : 0.9;

  overflow : scroll;
  overflow-x : hidden;
}

#buttons{
  position:relative;
  margin-left:50px;
  top:5px;
  width : 300px;
  height:350px;
  
  border-radius : 5px;
}

